body {
    color: rgba(255, 0, 157, 0.685);
    background: pink;
    margin: 0px;
    font-family: "Lobster", serif;

header {
    border-bottom: solid 2px rgba(255, 0, 157, 0.685);
    padding: 20px;
    font-size: 32px;
    color: yellow;
}

.background {
    background-color: white;
}

.chamada {
    background: pink;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px rgba(255, 0, 157, 0.685);
}

.video {
    border: solid 2px ;
}

.chamada-texto {
    margin-right: 5%;
}

.typewriter {
    display: inline-block;
    white-space: nowrap;
}

.text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(255, 0, 157, 0.685);
    /* Define a cor do texto */
}

.cursor {
    display: inline-block;
    color: rgba(255, 0, 157, 0.685);
    /* Define a mesma cor do texto */
    animation: blink-caret 0.7s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    scrollbar-color: rgba(255, 0, 157, 0.685) blue
    scrollbar-width: thin;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid palevioletred;
}

.categoria h2 {
    color: maroon;
}


.copyright {
    font-size: 50px;
    padding: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
  